<div class="d-inline-flex mt-5">
    <p class="py-2 px-4 h5">Fullness: @ViewBag.Fullness</p>
    <p class="py-2 px-4 h5">Happiness: @ViewBag.Happiness</p>
    <p class="py-2 px-4 h5">Meals: @ViewBag.Meals</p>
    <p class="py-2 px-4 h5">Energy: @ViewBag.Energy</p>
</div>