<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RazorFun</title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
    <h1>Razor Fun</h1>
    @{
        string[] Foods = new string[] {"Apple Pie", "Burritos", "Clams Casino", "Donuts", "candy"};
        foreach (string food in Foods)
        {
            if (food[0].Equals('C') || food[0].Equals('c'))
            {
                <p class="red">@food</p>
            }
            else {
                <p>@food</p>
            }
            
        }
    }
</body>
</html>