@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Form</title>
</head>
<body class="main-container">
    <h1 class="text-center">form view</h1>
    <form asp-action="Result" asp-controller="Home" method="post" class="black-border form container d-flex flex-column align-items-center py-2">

        <div class="form-group row">
            <span asp-validation-for="Name"></span>
            <div class="col">
                <label asp-for="DojoLocation" class="col">Name</label>
            </div>            
            <div class="col">
                <input type="text" class="form-control" asp-for="Name">
            </div>
        </div>

        <div class="form-group row">
            <span asp-validation-for="DojoLocation"></span>
            <div class="col">
                <label asp-for="DojoLocation" class="col">Dojo Location</label>
            </div>
            <div class="col">
                <select asp-for="DojoLocation" id="">
                    <option value="OC" selected>OC</option>
                    <option value="Oakland">Oakland</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Boise">Boise</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <span asp-validation-for="FavLang"></span>
            <div class="col">
                <label asp-for="FavLang" class="">Favorite Language</label>
            </div>            
            <div class="col">
                <select asp-for="FavLang" id="">
                    <option value="C#" selected>C#</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="French">French</option>
                </select>            
            </div>
        </div>

        <div class="form-group row">
            <span asp-validation-for="Comment"></span>
            <div class="row">
                <label asp-for="Comment" class="col">Comment</label>
                <input type="textarea" class="form-control" asp-for="Comment">
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>