@model User

<div>
    <span class="h1">Login to this Cool Site!</span>
    <a href="register">Register</a>
</div>

<div class="container">
    <form action="login" method="post" class="outline form d-inline-flex">
        <div class="col">
            <div class="row outline">
                <div class="form-group">
                    <span class="red-font" asp-validation-for="Email"></span>
                    <label asp-for="Email">Email</label>
                    <input type="email" asp-for="Email" id="">
                </div>
            </div>
            <div class="row outline">
                <div class="form-group">
                    <span class="red-font" asp-validation-for="Password"></span>
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" id="">
                </div>
            </div>
            <div class="row outline">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
</div>