@model int[]

<div class="text-center">
    <h1>Here are some numbers!</h1>
    <div class="bl-border">
        @foreach (var num in Model)
        {
            <p>@num</p>
        }
    </div>
</div>