<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Projects</title>
</head>
<body>
    <div class="container">
        <nav class="nav m-2 justify-content-center">
            <a href="/">Home</a> <span class="px-2"> | </span>
            <a href="/projects">Projects</a> <span class="px-2"> | </span>
            <a href="/contact">Contact</a>
        </nav>
        <h1 class="mt-2 my-5 text-center">Here are some projects of mine!</h1>
        <div  class="container justify-content-center">
            <div class="my-3 row align-items-center">
                <img class="col-3" src="~/Project1.jpeg" alt="potato light">
                <div class="col">
                    <h5>Project 1</h5>
                    <p>I used some potatoes to turn on a little light bulb.</p>
                </div>
            </div>
            <div class="my-3 row align-items-center">
                <img class="col-3" src="~/Project2.jpeg" alt="potato light">
                <div class="col">
                    <h5>Project 2</h5>
                    <p>Add some baking soda, vinegar, and food coloring for a wild ride.</p>
                </div>
            </div>
            <div class="my-3 row align-items-center">
                <img class="col-3" src="~/Project3.jpeg" alt="potato light">
                <div class="col">
                    <h5>Project 3</h5>
                    <p>Put some celery in a jar with water and food coloring to demonstrate xylem function.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>